<div *ngIf="loggingService.messages.length">
  <h2>Logging output:</h2>
  <p>
    {{ messageCounterText }}
    <button (click)="toggleVisibility()">
      {{ toggleVisibilityText }}
    </button>
    <button class="clear" (click)="loggingService.clear()">clear</button>
  </p>
  <div *ngIf="visible">
    <div *ngFor="let message of loggingService.messages">
      <span [class]="messageLevelClass(message)">
        {{ messageSourceText(message) }}
      </span>
      {{ message.content }}
    </div>
  </div>
</div>
